@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./styles/output.css");

:root {
  line-height: 1.5;
}

body {
  margin: 0;
  background-color: black;
  /* min-width: 320px;
  min-height: 100vh; */
}
